<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709874140818-26nagk0jhhg869tjonj0844ek45cns1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709874140818-26nagk0jhhg869tjonj0844ek45cns1j</string>
	<key>API_KEY</key>
	<string>AIzaSyDkinZ74HRIZGlNVxGFPYWdhpGWoJ99c-A</string>
	<key>GCM_SENDER_ID</key>
	<string>709874140818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.ungmonitorcovid</string>
	<key>PROJECT_ID</key>
	<string>ungmonitorcovid</string>
	<key>STORAGE_BUCKET</key>
	<string>ungmonitorcovid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709874140818:ios:d107c6d5a55ac23ca2884b</string>
	<key>DATABASE_URL</key>
	<string>https://ungmonitorcovid.firebaseio.com</string>
</dict>
</plist>